.wrapper-header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;

}
.paragraph-text{
    margin-top: -20px;
}
.paragraph-text span{
  font-size: 15px;
  font-weight: 300;
}